.button {

    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #333333;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition-duration: 0.4s;

}
button{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #333333;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: white;
    color: black;

}
button:hover{
    background-color: white;
    color: black;
}

/*HEADER*/
.goldBarTop{
    background-color: #D4AF37;
    top: 0;
    width: 100%;
    display: flex;
}
.goldBarTop div, .goldBarTop a {
    font-size: 30px;
    margin: auto;
}
/*Dropdown menues*/
.dropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdownContent{
    display: block;
    border: solid black;
    background-color: #D4AF37;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*Star Background*/
*{
    margin:0;
    padding: 0
}

.titel h1{
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: auto;
    text-align: -moz-right;

    color: white;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    display: block;
    position: relative;
    z-index: -1;
}

@keyframes move-clouds-back {
    from{background-position: 0 0;}
    to{background-position: 10000px 0}

}

@keyframes move-twinkle-back {
    from{background-position: 0 0;}
    to{background-position: -10000px 5000px}
}

.stars, .twinkling, .clouds{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:  100%;
    height:  100%;
    display: block
}

.stars{
    background: #000 url("../img/stars.png") repeat top center;
    z-index: -4;
}

.twinkling{
    background: transparent url("../img/twinkling.png") repeat top center ;
    z-index: -3;
    animation: move-twinkle-back 200s linear infinite;
}

.clouds{
    background: transparent url("../img/clouds.png") repeat top center;
    z-index: -2;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}

/*Printed out text*/
.appending{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: auto;
    text-align: -moz-right;

    color: white;
    background: -webkit-linear-gradient(#eee, #D4AF37);
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    display: block;
    position: relative;
}

/*Input Fields*/
.inputField{
    -webkit-text-fill-color: black;
}
/*Labels for Input Fields*/
.row{
    -webkit-text-fill-color: white;
}