body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Tager fat i child objekterne og sætter dem centralt */
    margin-bottom:10px;
    margin-top: 70px;
}
.row {
    display: flex;
    margin: 10px;
}

label {
    display: flex;
    width: 140px;
    text-align: left;
    padding: 8px;
}

input {
    width: 400px;
    height: 30px;
    justify-content: center;
}

textarea {
    margin: 0px;
    width: 402px;
    height: 115px;
    resize: none;
    display: flex;
    font-family: sans-serif;
}

#movieButton {
   /* background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    width: 200px;
    margin-left: 170px; */


    /*justify-content: center;
    margin-left: 265px;
    width: 100px; */
}

.show-modal { /* Vores Create Knap */
   /* font-weight: 600;
    padding: 10px 20px;
    /*margin: 5rem 2rem;
    border: none;*/
    /*border: solid black;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    justify-content: center; */
    margin-left: 160px;
    padding: 15px;
}

.close-modal {
    font-size: 2rem;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    border: solid black;
    border-radius: 10rem;
    padding: 10px 20px;
    left: 50%;
    align-items: center;
    flex-direction: row;
}

/* -------------------------- */

.h1PLZ{
    position: absolute;
    top: 20px;
    left: 50%;
}

