.goldBarTop{
    background-color: #D4AF37;
    top: 0%;
}
.goldBarTop div, .goldBarTop a{
    font-size: 30px;
    margin: auto;
}
.goldBarBtm{
    bottom: 0%;
    position: absolute;
    background-color: white;
    border-top: solid black 10px;
}
.goldBarTop, .goldBarBtm{
    width: 100%;
    display: flex;
}
body{
    background: linear-gradient(to left bottom, gray, black);
    height: 100vh;
   /* background: linear-gradient(to left top, gray, black);*/
    background-color: black;
    margin: 0;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdownContent{
    display: block;
    border: solid black;
    background-color: #D4AF37;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.mainContent{
   color: white;
}